<h1>How much booty did ye start with?</h1>
<p class="lead">
  Ye know how many pirates ye have, so let's see how much booty ye started with.
</p>

<form ng-submit="checkTheBooty()">
  <div class="form-group">
    <label for="numberOfPirates">
      How many of ye there be?
    </label>
    <input ng-model="numberOfPirates" type="number" id="numberOfPirates" name="numberOfPirates" class="form-control"/>
  </div>

  <div ng-show="numberOfCoins > 0">{{formattedCoins}}</div>

  <input type="submit" value="Y'arr!" class="btn btn-success"/>
</form>
